@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core.Models.PublishedContent
@using Umbraco.Cms.Core.PublishedCache
@using Umbraco.Cms.Core.Routing
@using Umbraco.Cms.Core.Services.Navigation

@inject IVariationContextAccessor VariationContextAccessor
@inject IPublishedContentCache PublishedContentCache
@inject IDocumentNavigationQueryService DocumentNavigationQueryService
@inject IPublishedValueFallback PublishedValueFallback
@inject IPublishedUrlProvider PublishedUrlProvider

@{
  var rootContent = Umbraco.ContentAtRoot();
  var siteSettings = rootContent.OfType<SiteSettings>().FirstOrDefault();

  var logo = siteSettings.SiteLogo;
  var logoSmall = siteSettings.SiteLogoSmall;
  var selection = Model.Root().Children().Where(x => x.IsVisible()).ToArray();
}

<header>
  <nav class="wrapper flex">

    @if (logo != null)
    {
      <a href="/" class="logo flex">
        <img class="logo-big" src="@logo.Url()" alt="Onatrix">
        <img class="logo-small" src="@logoSmall.Url()" alt="Onatrix">
      </a>
    }
    else
    {
      <a href="/" class="logo flex">
        Onatrix
      </a>
    }

    @if (selection?.Length > 0)
    {
      <ul class="nav-list flex">
        @foreach (var item in selection)
        {
          <li class="@(item.IsAncestorOrSelf(Model) ? "current" : null)">
            <a class="nav-link" href="@item.Url(PublishedUrlProvider)">@item.Name</a>
          </li>
        }
      </ul>
    }

    <div class="flex">
      <i class="fa-solid fa-magnifying-glass"></i>
    </div>
  </nav>
</header>