@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
  var content = (ContentModels.AboutCallbackSection)Model.Content;
  var settings = Model.Settings as ContentModels.AboutCallbackSettings;

  var sectionColor = settings?.BackgroundColor?.Color ?? string.Empty;
  var sectionColorStyle = !string.IsNullOrEmpty(sectionColor)
    ? $"background-color: {sectionColor} !important;"
    : string.Empty;
}

<section class="about-callback-section" style="@sectionColorStyle">
  <div class="wrapper">
    <div class="container">

      <div>
        @if (settings.ShowLabel)
        {
          <h2>@content.AboutCallbackLabel</h2>
        }
        <div class="rte">@Html.Raw(content.AboutCallbackBody)</div>
      </div>

      <div>
        <img src="@content.AboutCallbackSignatureImage.Url()" />
        <span class="signature">@content.AboutCallbackSignature</span>
      </div>

    </div>
  </div>
</section>