@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
  var content = (ContentModels.HeroSection)Model.Content;
}

<section class="hero-section">

	@if (content.HeroBackgroundImage != null)
	{
		<img src="@content.HeroBackgroundImage.Url()" />
	}

	<div class="wrapper">
		<div class="container">
			<div class="flex">

				<h1>@content.HeroTitle</h1>

				<div class="rte">@Html.Raw(content.HeroText)</div>

				@if (content.HeroLink != null)
				{
					<a class="btn" href="@content.HeroLink.Url">@content.HeroLink.Name</a>	
				}

			</div>
		</div>
	</div>

</section>